VPS_DB_URL=postgresql://user:password@localhost:5433/dbname
NEON_DB_URL=postgres://user:password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require
TRITON_URL=localhost:8020
CLOUDFLARE_HOSTNAME=your-hostname.example.com
